html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: #1a1a1a;
	color: white;
	overflow-x: hidden;
	/*overflow-y: hidden;*/
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.header {
	position: relative;
	width: 100%;
	/*background-color: white;*/
	background-image: url(https://wallpaperplay.com/walls/full/5/8/c/210589.jpg);
	background-size: 120em;
	background-position: 50% 0%;
	/*color: #1a1a1a;*/
	left: 0;
	border-spacing:0;
	border-collapse:collapse;
	top: 0;
	z-index: 99;
	color: white;
}

.nav-bar {
	overflow: hidden;
	position: sticky;
	position: -webkit-sticky;
  	position: sticky;
	top: 0em;
	z-index: 99;
  	width: 100%;
	color: white;
	text-align: center;
	font-size: 1.5em;
	box-shadow: 0px 0px 10px #F400FF;
}

#Mbtn1, #Mbtn2, #Mbtn3, #Mbtn5, #Mbtn4, #Mbtn6, #Mbtn7, #Mbtn8 {
  	filter: invert(100%);
  	background-image: url(https://wallpaperplay.com/walls/full/5/8/c/210589.jpg);
	background-size: 100em;
	background-position: 50% 0%;
	background-attachment: fixed;
	-webkit-transition: background-color 0.2s, color 0.2s, filter 0.2s;
	z-index: 90;
}

#Mbtn1:hover, #Mbtn2:hover, #Mbtn3:hover, #Mbtn5:hover, #Mbtn4:hover, #Mbtn6:hover, #Mbtn7:hover, #Mbtn8:hover {
	filter: invert(0%);
	color: white;
	-webkit-transition: background-color 0.3s, color 0.3s, filter 0.3s;
}

#who {
	line-height: 2em;
	margin-left: 2em;
	height: 1.5em;
	width: 100%;
	font-size: 2em;
}

q {
	font-style: oblique;
	font-size: 0.8em;
}

#us {
	position: absolute;
	margin-right: 1em;
	right: 0px;
}

#logo {
	position: absolute;
	vertical-align: middle;
	filter: invert(100%);
}

#bg {
	background-image: url(https://wallpaperplay.com/walls/full/5/8/c/210589.jpg);
	background-size: 120em;
	background-position: 50% 0%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	left: 0px;
	border-bottom: 2px solid grey;
}

#intro {
	position: relative;
	font-size: 1.5em;
	
}

.body {
	text-align: center;
	margin-left: 2.4em;
	margin-right: 2.4em;

}

#hr1 {
	position: relative;
	top: 70em;
}

@keyframes burst {
	0% {transform: rotate(10deg);}
	50% {transform: rotate(-5deg);}
	75% {transform: rotate(2deg);}
	100% {transform: rotate(0deg);}
}

h1 {
	animation-name: burst;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(.26, 0, 1 ,1);
	font-size: 4em;
	color: lightblue;
	text-shadow: 5px 5px 10px purple;
}

/*------------------ FRONT PAGE APPS ------------------*/

.appsRec {
	/*background-color: red;*/
	text-align: center;
	display: inline-block;
	width: 90%;
	z-index: 4;
	vertical-align: middle;
}

#box1, #box2, #box3, #box4 {
	display: inline-block;
	width: 300px;
	height: 300px;
	margin-left: 1em;
	margin-right: 1em;
	font-size: 2em;
	background-color: rgba(0,0,0,1);
	filter: blur(1px);
	text-shadow: 0px 0px 0px black;
	background-blend-mode: luminosity;
	border-radius: 15%;
	box-shadow: 10px 10px 10px black;
	transform: scale(1);
	-webkit-transition: background-color 0.25s, filter 0.25s, font-size 0.25s, text-shadow 0.25s, background-blend-mode 0.25s, transform 0.25s;
}

#box1 {
	background-image: url(https://vignette.wikia.nocookie.net/logopedia/images/3/39/Vegas_Pro_15.0.png/revision/latest?cb=20180711142655);
	background-size: 110% 110%;
	background-position: 50% 50%;
}

#box2 {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Adobe_After_Effects_CC_icon.svg/1200px-Adobe_After_Effects_CC_icon.svg.png);
	background-size: 110% 110%;
	background-position: 50% 50%;
}

#box3 {
	background-image: url(https://lh3.googleusercontent.com/asRsPLDW0d6p9EWIqAGopwzWDzKh3EzWAnGxf-f4DRBfa2o-M311toH2qpsm3TBzycM);
	background-size: 115% 115%;
	background-position: 50% 50%;
}

#box4 {
	background-image: url(https://cdn.worldvectorlogo.com/logos/photoshop-cc.svg);
	background-size: 120% 120%;
	background-position: 50% 50%;
}

#box1:hover, #box2:hover, #box3:hover, #box4:hover {
	background-color: rgba(0,0,0,0);
	filter: blur(0px);
	transform: scale(1.1);
	text-shadow: 5px 5px 5px black;
	-webkit-transition: background-color 0.25s, filter 0.25s, font-size 0.25s, text-shadow 0.25s, background-blend-mode 0.25s, transform 0.25s;
}

/* button */

#btn-aps {
	text-decoration: none;
	padding: 0;
	border: none;
	background-color: lightblue;
	box-shadow: 0px 5px 10px purple;
	border-radius: 10px;
	width: 100px;
	font-size: 1.25em;
	height: 50px;
	transform: scale(1);
	outline: 0;
	border: none;
	-moz-outline-style: none;
}

#btn-aps:active {
	background-color: blue;
	transform: scale(0.95);
	outline: 0;
	border: none;
	-moz-outline-style: none;
	box-shadow: 0px 0px 10px black;

}
