<!doctype html>
<html>
<head>
    <title>Home</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <button onclick="changetheme()">click me nikker</button>
    <h1>Welcome to the home page!</h1>
    
    <hr>
    
    {% for student in students %}
    <p>
	    Name: <a href="{{url_for('display_student', student_id=student.student_id)}}">{{student.name}}</a><br>
	    Year: {{student.year}}<br>
	    Finished Lab: {{student.finished_lab}}
    </p>
    {% endfor %}

    <a href="{{url_for('add_student_route')}}">Add Student</a>
    <script type="text/javascript" src="js.js"></script>
</body>
</html>
