<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='MainCSS.css') }}">
	<title>EditED</title>
</head>
<body>
<div class="header">
	<img src="Logo.png" width="75" id="logo"><div id="who">EditED<sup id="us"><q>A website to suit all video editors, beginners to professionals!</q></sup></div>
	<br>
</div>
<!-- -------------------------------------------------------- -->
<div class="nav-bar">
	<table width="100%" style=" border-spacing:0;
	border-collapse:collapse;">
		<tr>
			<th id="Mbtn1">Home</th>
			<th id="Mbtn2">Tutorials</th>
			<th id="Mbtn3">Videos</th>
			<th id="Mbtn4">Plugins</th>
			<th id="Mbtn5">Scripts</th>
			<th id="Mbtn6">Sign Up/Log in</th>
			<th id="Mbtn7">Contact Us</th>
			<th id="Mbtn8">About Us</th>
		</tr>
	</table>
</div>


<!-- -------------------------------------------------------- -->

<div id="bg"></div>
<div class="body">
	<!-- <hr width="100%" id="hr1"> -->
	<div id="intro"><h1>Welcome To EDITED</h1>
		<p>Ever wanted to edit? or maybe even just wondered how it's done?<br>
	Well <b>EditED</b> is a website to any and all people interested! Here you can find tutorials, featured videos, tips & tricks and much more!
	</p><p>
		Want to get started? Click on any of these apps!
	</p></div>

<!-- -------------------------------------------------------- -->
	<div class="appsRec">
		<table style="border-spacing: 2em; margin: 0 auto;">
		<tr>
			<th id="box1">Sony Vegas</div></th>
			<th id="box2">After Effects</div></th>
			<th id="box3">Filmora</div></th>
			<th id="box4">PhotoShop</div></th>
		</tr>
	</div>
</div>
<div class="allApps">
	<h2>Want an app other than the recommended ones?</h2>
	<p> No problem! Check all the apps we have here: </p>
	<button id="btn-aps">All Apps</button>
</div>

<script src="{{ url_for('static',filename='MainJS.js') }}"></script>
</body>
</html>